
<div class="container details">
  <br>

  <form #f="ngForm" novalidate (ngSubmit)="save(f.value, f.valid)" class="form-login">
    <h1>Client</h1>

    <input type="text" id="login" class="form-control" name="login" placeholder="login" [ngModel]="client.login"
           required #login="ngModel" [ngClass]="!f.submitted ? '' : login.valid ? 'is-valid' : 'is-invalid'">
    <br>
    <div>
      <input type="pass" id="pass" class="form-control" name="pass" placeholder="mot de passe" [ngModel]="client.pass"
             required #pass="ngModel" [ngClass]="!f.submitted ? '' : pass.valid ? 'is-valid' : 'is-invalid'">
    </div>
    <br>
    <input type="submit" class="btn btn-lg btn-primary btn-block" value="LogIn">
  </form>

  <br>

</div>
